body {
	background-color: #B7E57E;
	font-family: 'Rock Salt', cursive;
}

.wrapper {
	width: 90%;
}

.neutral {
	color: #ed4a3c;
}

.gameboard {
	width: 70%;
	margin: 0 auto;
	display: inline-block;
	float: left;
}

h1 {
	text-align: center;
}

.game-square {
	height: 200px;
	width: 200px;
	display: inline-block;
	margin: auto 0;
	font-size: 90px;
	text-align: center;
	padding: 10px;
}

.row {
	width: 720px;
	margin: 0 auto;
}

.middle-row {
	border-bottom: 10px solid #ed4a3c;
	border-top: 10px solid #ed4a3c;
}

.middle-box {
	border-right: 10px solid #ed4a3c;
	border-left: 10px solid #ed4a3c;
}

.x {
	color: #FFFFFF;
}

.o {
	color: #000000;
}

.inactive {
	color: #B2B2B2;
}

.new-game {
	font-size: 26px;
	background-color: #ed4a3c;
	color: #FFFFFF;
	border-radius: 5px;
	font-family: 'Rock Salt', cursive;
}

.controls {
	width: 25%;
	padding-top: 50px;
	display: inline-block;
	float: left;
}

#victor {
	padding-top: 50px;
	font-weight: bold;
	font-size: 30px;
	color: #ed4a3c;
}